header {
    nav {
        background-color: nth($colores, 4 );

        div {
            .logo {
                font-size: 50px;
                color: nth($colores, 1 );
            }

            div {
                ul {
                    li {
                        font-size: 23px;
                    }
                }
            }
        }
    }
}