
$colores:
#F2E9E4,
#22223B,
#C9ADA7,
#9A8C98;

%flex{
    background-color: nth($colores, 3 );
    width: 80%;
    height: 300px;
    border-radius: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

@mixin shadow ($shadow){
    box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
}